* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  display: grid;
  grid-template-rows: 50px 1fr;
  background-image: url('../image/3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.colum {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.item1 {
  background-color: #953c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 h1{  
  color: #fff;
}

.item2, .item3 {
  display: block;
  min-height: 100vh;
}
.item2 {
  background-color: #953c2cb6;
}
 .item3{
  background-color: #a67051c9;
}
/*Barra de menus vertical*/
nav ul{
list-style-type: none;
margin-top: 2px;
}
nav a{
  display: block;
  color: white;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 25px;
}
nav a:hover, a.active{
  background-color: #953c2c;
}
/*formulário de login e cadastro*/
.login{
  width: 400px;
  margin: 200px auto;
}
.register{
  width: 400px;
  margin: 100px auto;
}
.form .icon {
  width: 70px;
  display: block;
  margin: 0px auto;
}
.clear::before,
.clear::after{
  content: "";
  display: table;
}
.clear::after{
  clear: both;
}
.form form{
  padding: 10px;
  background-color: #f2e8d5;
  border-radius: 10px;
  color: #bf4215;
  font-weight: bold;
  box-shadow: 2px 2px 4px #953c2c;
}

label {
  display: block;
  width: 200px;
  margin: 5px 0px;
}

select,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"]{
  display: block;
  width: 380px;
  padding: 10px;
  border: 1px solid #d9b596;
  border-radius: 8px;
}
button[type="button"],
input[type="reset"],
input[type="submit"]{
  background-color: white;
  border: 1px solid #d9b596;
  border-radius: 8px;
}
.btn-search{
  background-color: white;
  border: 1px solid #d9b596;
  border-radius: 8px;
  padding: 10px;
}
.search{
  display: inline;
  width: 340px;
  padding: 10px;
  border: 1px solid #d9b596;
  border-radius: 8px;
}
button[type="submit"]:hover,
button[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{
  background-color: #bf4215;
  color: white;
}

button[type="submit"]:active,
button[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{
  background-color: #953c2c;
  color: white;
  transform: scale(1.1);
}

.footer{
  margin: 10px auto;
}
.footer button a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer button,
.footer input{
  float: right;
  margin: 5px;
  padding: 5px;
}
.footer a{
  color: #953c2c;
}

main{
  margin: 10px 10px;
}


.content{    
  padding: 20px;
}

main .form-livro{
  float: left;
}
.form-livro form{
  background-color: rgba(255, 255, 255, 0.541);
  padding: 10px;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  color: #bf4215;
}
.form-contact form{
  background-color: rgba(255, 255, 255, 0.541);
  padding: 10px;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  color: #bf4215;
}

main .table{
  float: right;
  max-height: 500px;
  max-width: 650px;
  overflow-y: auto;
}
table {  
  width: 100%;
  border-collapse: collapse;  
  text-align: center;
}  
th, td {  
  border: 1px solid #ccc;  
  padding: 10px;
}  
td{
  color: white;
}
th {  
  color: #a67051;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}  

.titulo{
  background-color: #a67051;
  padding: 5px 20px;
  color: white;
}
table a{
  color: #ffffff;
}
  /*Dashboard*/

  .card{
    display: inline-block;
    margin: 20px;
    background-color: #ccc;
    width: 300px;
  }

  .card span{
    display: inline-block;
    margin: 0px 110px;
    color: white;
  }

  .card h2{
    background-color: #a67051;
    padding: 10px;
    margin-bottom:10px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  .card h3{
    background-color: #a67051;
    padding: 10px;
    margin-top:10px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }

  /*modal*/
  
#confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -95px 0 0 -200px;
  z-index: 2;
}
#modal, #modal-logo{
  position: fixed;
  top: 30%;
  left: 50%;
  margin: -95px 0 0 -200px;
  z-index: 2;
}

#back {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

#back,
#modal, 
#modal-logo,
#confirm{
  display: none;
}

#modal h2{
  color: white;
  text-align: center;
  margin: 10px;
}

.top{
  display: flex;
  padding: 5px 0px;
}
.top .btn{
  margin-right: 10px;
  padding: 0px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #953c2c;
}
.top .btn:hover{
  background-color: #791f0f;
}
/*Paginação*/

.pagination {  
  display: flex;           /* Flexbox para garantir que os itens fiquem lado a lado */  
  justify-content: center; /* Centralizar a paginação */  
  margin: 20px 0;        /* Espaçamento externo */  
}  

.page-item {  
  margin: 0 5px;         /* Espaçamento entre os itens da página */  
}  

.page-link {  
  display: inline-flex;   /* Flexbox para centralizar o conteúdo */  
  align-items: center;    /* Centraliza verticalmente */  
  justify-content: center; /* Centraliza horizontalmente */  
  padding: 10px 15px;     /* Padding para os links */  
  border: 1px solid #791f0f; /* Borda do link */  
  border-radius: 0.25rem;  /* Bordas arredondadas */  
  color: #791f0f;         /* Cor dos links */  
  text-decoration: none;   /* Remove o sublinhado nos links */  
  transition: background-color 0.3s, color 0.3s; /* Efeitos de transição */  
}  

.page-link:hover {  
  background-color: #791f0f; /* Cor de fundo ao passar o mouse */  
  color: white;               /* Texto branco ao passar o mouse */  
}  

.page-item.active .page-link {  
  background-color: #791f0f; /* Azul para a página ativa */  
  color: white;              /* Texto branco para a página ativa */  
  border-color: #791f0f;    /* Mesma borda na página ativa */  
}  

.page-item.disabled .page-link {  
  background-color: #f8f9fa; /* Cinza claro para itens desativados */  
  color: #6c757d;            /* Texto cinza */  
  border-color: #dee2e6;     /* Borda cinza */  
}


.modal-confirm{
  background-color: rgb(226, 226, 226);
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;

}
.modal-confirm h1{
  display: block;
  background-color: rgb(194, 194, 194);
  color: red;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-confirm .btn-confirm{
  display: flex;
  justify-content: space-between;

}
.modal-confirm a{
  margin: 20px 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
}
.modal-confirm a#sim{
  color: red;
}
